node_modules
.DS_Store
dist
dist-ssr
*.local
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
	.browserslistrc
	.eslintrc.json
	.gitignore
	.hintrc
	.postcssrc
	.prettierrc
    .yarn/
	.yarnrc.yml
    	package.json
	settings.json
	src/
	vite.config.js
	yarn.lock