* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
.hero-section {
  height: 75vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid black;
  background-image: url('/src/images/coffee.jpg');
  background-blend-mode: overlay;
  background-color: rgba(0, 0, 0, 0.3);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.h1 {
  font-size: 64px;
  font-weight: 900;
  text-align: center;
  color: white;
}
.text-header {
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  color: white;
}
.header-button {
  width: 160px;
  background: #1A1A1A;
  color: white;
  box-sizing: border-box;
  display: block;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 5px;
  text-decoration: none;
}
.header-button:hover {
  background: #3A3734;
}
.header-button:active {
  background: #D7BE9D;
}
.hb-container {
  position: absolute;
  bottom: 60px;
  margin-left: 50%;
  transform: translate(-50%);
}
.icon-container {
  width: 100%;
  position: absolute;
  top: 10px;
  padding-left: 24px;
  padding-right: 24px;
  box-sizing: border-box;
}
.logo {
  height: 35px;
  width: 35px;
  filter: invert(94%) sepia(0%) saturate(26%) hue-rotate(104deg) brightness(105%) contrast(108%);
}
.hamburger {
  float: right;
  filter: invert(94%) sepia(0%) saturate(26%) hue-rotate(104deg) brightness(105%) contrast(108%);
  height: 25px;
  width: 25px;
  margin-top: 5px;
}