/* mobil */
.container-footer {  
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "svg leer"
    "Rustica leer2"
    "Weg Oeffnungszeiten"
    "ImpressumDatenschutz Verlinkung";
    text-align: center;
}
/* desktop */
@media (min-width: 992px) {
  .container-footer {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
     "svg leer leer2 Rustica";
  }
}
/*
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

// Very large desktop devices (1920px and up)
@media (min-width: 1920px) { ... }

*/

html, body {
    width: 100%;
    height: 100%;
    margin: 0vw; padding: 0vw;
    background-color: black;
  }

  a {
color: white;
text-decoration: none;

  }

  ul {
    padding-left: 2px;
  }

  h1 {
    margin: 0%;
    color: white;
    font-family: Roboto;
    background-color: black;
    
  }
  

  h3 {
    font-weight: 200;
    margin:0%;
    font-family: Roboto;
    color: white;
    

    

  }



    
    
      .svg-footer { 
        
    grid-area: svg;
    background-color: black;
    padding-top: 20vw;
    padding-left: 0vw;
    padding-right: 20vw;
  
   
   
 }

      
      .Weg-footer { 
        grid-area: Weg; 
        background-color: black;
        font-family: Roboto, sans-serif;
        color: white;
        padding-left: 8vw;
        padding-top: 8vw;
        text-align: left;
      
    
    }


    .Rustica-footer { 
        grid-area: Rustica; 
        background-color: black;
        font-family: Roboto, sans-serif;
        color: white;
        padding-left: 8vw;
        padding-top: 8vw;
        text-align: left;
      
    
    }

    
      
      .ImpressumDatenschutz-footer {
         grid-area: ImpressumDatenschutz; 
         background-color: black;
         font-family: Roboto, sans-serif;
         color: white;
         padding-left: 8vw;
         text-align: left;
         
        }
      
      .leer-footer { 
        grid-area: leer;
        background-color: black;
}
      
      .leer2-footer { 
        grid-area: leer2;
        background-color: black;

}
      
      .Oeffnungszeiten-footer { 
        grid-area: Oeffnungszeiten; 
        background-color: black;
    font-family: Roboto, sans-serif;
    color: white;
    padding-right: 2vw;
    padding-top: 8vw;
    padding-left: 8vw;
    text-align: left;
}
      
      .Verlinkung-footer { 
        grid-area: Verlinkung;
        background-color: black;
    font-family: Roboto, sans-serif;
    color: white;
    padding-right: 2vw;
    padding-left: 8vw;
    text-align: left;
      }
      