* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}




.hb-container-impressum {
    position: absolute;
    bottom: 60px;
    margin-left: 50%;
    transform: translate(-50%);
}
.icon-container-impressum {
    width: 100%;
    position: absolute;
    top: 10px;
    padding-left: 24px;
    padding-right: 60px;
    box-sizing: border-box;
    background-color: white;
}
.logo-impressum {
    height: 9vw;
    width: 9vw;
    color: black;
}
.hamburger-impressum {
    float: right;
    height: 7vw;
    width: 7vw;
    margin-top: 5px;
    color: black;
}

@media screen and (max-width: 768px) {
    .hero-section {
      height: 20vh;
    }
  }
  
h1 {
    margin-top: 10%;
    margin-left: 13%;
}

h2 {
    padding: 0%;
    margin-left: 13%;
    font-size: 25px;
    margin-bottom: 10%;

}

p {
    margin-left: 13%;
    margin-right: 7%;

}