body {
    background: black;
  
    @media (min-width: 768px) {
      color: red;
    }
  }
  
  main {
    margin: 0 auto;
    max-width: 1440px;
  
    & div {
      color: yellow;
  
      @media (min-width: 768px) {
        color: var(--div-color);
      }
    }
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  h2 {
    font-size: var(--h2-font-size);
  }
  
  h1  {
    color: white;
    font-family: Roboto;
    margin-left: 17px;
    font-weight: bolder;
  }
  
  .row-warenkorb {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .column-warenkorb {
    height: 200px;
    width: 150px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-image: url("../images/FEND_Coffee_Costa-Rica.png");
    background-color: white;
    background-size: contain;
    background-repeat: no-repeat;
  }
  
  .Bild1-warenkorb {
    height: 200px;
    width: 150px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-image: url("../images/FEND_Coffee_Costa-Rica.png");
    background-color: white;
    background-size: contain;
    background-repeat: no-repeat;
  }
  
  
  
  .Inhalt1-warenkorb {
    height: 200px;
    width: 150px;
    font-family: Roboto;
    color: white;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
    background-color: none;
    background-size: contain;
    background-repeat: no-repeat;
  
  }
  
  .Bild2-warenkorb {
    height: 200px;
    width: 150px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-image: url("../images/FEND_Coffee_Costa-Rica.png");
    background-color: white;
    background-size: contain;
    background-repeat: no-repeat;
  }
  
  
  .Inhalt2-warenkorb {
    height: 200px;
    width: 150px;
    font-family: Roboto;
    color: white;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
    background-color: none;
    background-size: contain;
    background-repeat: no-repeat;
  
  }
  
  
  
  body div div {
    border: 0px solid black;
    padding: 20px;
    box-sizing: border-box;
  }
  
  
  .button-warenkorb {
    
    border: none;
   
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: center;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  
  
  }
  
  .button1-warenkorb  {
    background-color: black;
    color: white;
    border: 4px solid white;
    border-radius: 5px;
    
  
  }
  
  